This is where we can do some basic data tidying. 
ps. I can't seem to open the Project Planning Stage notebook... idk whyyyyyyy - Laurence

### Players Dataset (`players.csv`)

- **Overview**: Contains information on 196 unique players, including demographics, experience, and subscription status.
- **Number of Variables**: 9
- **Variable Summary**:
  - **`experience`**:  
    - Type: Categorical  
    - Description: Indicates player experience level on playing Minecraft
  - **`subscribe`**:  
    - Type: Boolean  
    - Description: Indicates subscription status (`TRUE` = subscribed, `FALSE` = not subscribed)
  - **`hashedEmail`**:  
    - Type: Categorical  
    - Description: Anonymized unique identifier for linking with session data
  - **`played_hours`**:  
    - Type: Numerical  
    - Description: Total hours the player has played
  - **`name`**:  
    - Type: Categorical  
    - Description: Player’s name (may be irrelevant to analysis)
  - **`gender`**:  
    - Type: Categorical  
    - Description: Player’s gender
  - **`age`**:  
    - Type: Numerical  
    - Description: Player’s age in years
  - **`individualId`** and **`organizationName`**:  
    - Type: Categorical  
    - Description: Columns with only `NaN` values, likely irrelevant

- **Issues**:
  - Columns `individualId` and `organizationName` contain only missing values.
  - Ensure `played_hours` has no anomalies.

In [2]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('cleanup.R')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [15]:
players <- read_csv("data/players.csv")
players

Rows: 196 Columns: 9
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, age
lgl (3): subscribe, individualId, organizationName

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            age individualId organizationName
1   30.3         Morgan    Male               9  NA           NA
2    3.8         Christian Male              17  NA           NA
3    0.0         Blake     Male              17  NA           NA
⋮   ⋮            ⋮         ⋮                 ⋮   ⋮            ⋮
194 0.0          Dylan     Prefer not to say 17  NA           NA
195 2.3          Harlow    Male              17  NA           NA
196 0.2          Ahmed     Other             91  NA           NA

In [13]:
age_groups <- players |>
    group_by(age) |>
    summarize(count = n()) |>
    arrange(-count)

age_groups

   age count
1  17  75
2  21  18
3  22  15
⋮  ⋮   ⋮
30 50  1
31 91  1
32 99  1